.title {
    color: aqua;
    font-family: "Comic Sans", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

#lip-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}

.link {
    font-weight: bold;
}

#bolognese {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}